/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/


/*Presets*/

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

/*End of presets.*/
/*End of presets.*/
/*End of presets.*/







/*For Mobile code.*/
/*For Mobile code.*/
/*For Mobile code.*/
body{
    text-align: center;
    font-family: "times";
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Gives the buttons refinement.*/
nav a {
  text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.45 );
  box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.15 );
}

nav a:hover{
    background: red;
}


/*Makes the subtitle appear to the left.*/
#main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background: #ddffff;
  align-items: center;
  margin-top: 10px;
}

/*Puts the logo in the center.*/
#logo {
  text-align: center;
}

/*Makes Subtitle contents appear in the middle.*/
#main_content > div {
  align-self: flex-start;
}

/*Makes the page title appear to the left.*/
#main_content > div > h1, #main_content > div > p{
  align-items: flex-start;
  align-self: flex-start;
}


/*Aligns the text left.*/
p, h1, ul, li, h2, h3 {
  text-align: left;
  line-height: 170%;
}

/*Moves text in blue box over right a tad bit.*/
h1, p, h2, h2 + ul {
  margin-left: 10pt;
}

/*Moves text in yellow boxes over right a tad bit.*/
h3, h3 + ul {
  margin-left: 10pt;
}


/*Makes the sidebar content a column.*/
#sidebar_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

/*Makes the sidebars have a yellow background.*/
#sidebar_content > div {
  background-color: #ffffdd;
  margin: 10px;
  width: 100%;
}

/*#sidebar_content > div > h3 {
  align-self: left;
}*/

/*Makes the footer appear as a bar.*/
#site_footer > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: orange;
  padding: 2%;
}



/*To make the page layout change with size.*/
/*Adjusting to tablet and desktop code.*/

/*Tablet Changes*/
/*Tablet Changes*/
/*Tablet Changes*/
@media screen and ( min-width: 600px ){
    nav a{
        display: flex;
        flex-basis: 45%;

        display: block;
        padding: 20px 2%;
        width: 100%;
        flex-basis: 20%;
    }

    site_footer > nav {
      justify-content: center;
    }

    nav {
      display: flex;
    flex-direction: row;
    justify-content: space-between;
        flex-wrap: nowrap;
    }

/*Keeps the yellow box files centered.*/
    h3, h3 + ul {
      margin-left: 0pt;
    }


/*Makes the sidebar content change.*/
    #sidebar_content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      background: #ffffdd;
      align-items: center;
    }


/*Just a test so I can tell when a change happens.*/
    #site_footer > nav {
      background-color: green;
    }
}


/*Alters size of pink buttons in nav.*/
#main_nav a{
    display: block;
    padding: 10px 6%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

/*Desktop Changes*/
/*Desktop Changes*/
/*Desktop Changes*/
@media screen and ( min-width: 1100px ){
    header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    nav a{
      display: block;
      width: 60%;
    }

/*Limits the page title width and adjusts position.*/
    p, h1 {
      text-align: left;
      max-width: 90%;
      margin-left: -35px;
    }


    /*Puts the logo to the left.*/
    #logo {
      text-align: left;
      margin-left: -2px;
    }

/*Moves the subtitle and page title into the same row.*/
    #main_content {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #main_content > div {
      align-self: flex-start;
      max-width: 70%;
    }


/*Controls the container that controls the header buttons.*/
    #site_container > header > nav {
      width: 70%;
      margin-left: 5%;
      height: 3%;
      margin-top: 2.5%;
    }

/*Just a test so I can tell when a change happens.*/
    #site_footer > nav {
      background-color: blue;
    }
}

/*Decreases the height of the buttons.*/
/*#main_nav a{
    display: block;
    padding: 10px 6%;
    background: #ffdddd;
    margin-bottom: 50px;
    border-radius: 5px;
}*/
